:root {
    --bg-color: white ;
    --txt-color: black;
    --accent-color: navy;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
}

div.title {
    color: white;
    text-align: center;
}

div.title h1 {
    padding: 10px;
}

main.dashboard {
    background-color: aquamarine;
}

div.recent-searches {
    font-size: 1.2rem;
}

div.cityList {
    margin-top: 20px;
}

div.city{
    padding: 10px;
}

div.cityName {
    background-color: blueviolet;
    color: black;
}

div.currentWeather {
    margin-bottom: 20px;
    background-color: crimson;
}

div.currentWeather h2,
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: white;
}

div.fiveDay p.card-title {
    font-weight: bold;
}

.card {
    background-color: deepskyblue;
}

.text-muted {
    color: white !important;
}
