:root {
    --bg-color: rgb(236, 234, 234) ;
    --txt-color: rgb(26, 24, 24);
    --accent-color: deepskyblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent-color);
}

div.title {
    color: var(--bg-color);
    text-align: center;
}

div.title h1 {
    padding: 10px;
}

main.dashboard {
    background-color: var(--bg-color);
}

div.recent-searches {
    font-size: 1.2rem;
}

div.cityList {
    margin-top: 20px;
}

div.city{
    padding: 10px;
}

div.cityName {
    background-color: white;
    color: black;
}

div.currentWeather {
    margin-bottom: 20px;
    background-color: white;
}

div.currentWeather h2,
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: white;
}

div.fiveDay p.card-title {
    font-weight: bold;
}

.card-title {
    color: white;
}

.card {
    background-color: deepskyblue;
}

.text-muted {
    color: white !important;
}

#search-btn {
    background-color: var(--accent-color);
}
